@font-face {
  font-weight: normal;
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.woff2) format('woff2');
}

@font-face {
  font-weight: bold;
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Extrabold.woff) format('woff');
}

@font-face {
  font-weight: lighter;
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Light.woff) format('woff');
}

@font-face {
  font-weight: normal;
  font-family: "DINPro";
  src: url(../fonts/DINPro.woff) format('woff');
}

@font-face {
  font-weight: bold;
  font-family: "DINPro";
  src: url(../fonts/DINPro-Bold.woff) format('woff');
}

html {
  font-family: sans-serif;
  color: black;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 0;

  font: 100px/1.2 "Gilroy", sans-serif;

  font-weight: lighter;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.slider {
  position: relative;

  width: 1024px;
  height: 768px;

  margin: 0;

  user-select: none;
  touch-action: pan-y;
}

.slider-coll {
  position: relative;
  width: 1024px;
  height: 768px;
  overflow: hidden;
}

.logo {
  position: absolute;
  bottom: 15px;
  left: 70px;
}

.btn {
  position: absolute;
  background: none;
  border: none;
}

.btn-home {
  top: 25px;
  left: 65px;
}

.btn-next {
  right: 110px;
  bottom: 210px;
}

.slider img {
  pointer-events: none;
}

.slides {
  display: flex;
  width: 3072px;
  background-image: url("../img/background.png");
  transition: 2s;
}

.slide {
  position: relative;

  width: 1024px;
  height: 768px;

  display: flex;
  flex-shrink: 0;
}

.content-box {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding: 150px 50px 0 70px;
}

.title {
  font: 26px "DINPro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  margin-bottom: 10px;
}

.pink-sperm-1 {
  position: absolute;
  bottom: 30px;
  left: -50px;
}

.pink-sperm-2 {
  position: absolute;
  top: 165px;
  right: 0;
}

.bakt-1 {
  position: absolute;
  bottom: 185px;
  left: 25px;
  z-index: -1;
}

.bakt-2 {
  position: absolute;
  top: 210px;
  right: 60px;
}

.bakt-3 {
  position: absolute;
  top: 80px;
  left: -45px;
}

.bakt-4 {
  position: absolute;
  top: 70px;
  right: 250px;
}

.bakt-5 {
  position: absolute;
  top: 35px;
  right: 30px;
}

.bakt-6 {
  position: absolute;
  bottom: 70px;
  left: 350px;
}

.bakt-big {
  position: absolute;
  right: 260px;
  bottom: -100px;
}

.message-box {
  position: relative;

  width: 700px;
  height: 360px;
  
  margin-top: 35px;
  margin-left: 0;
  padding: 0px 80px 30px 70px;

  overflow-x: hidden;

  direction: rtl;
}

.background-box {
  position: absolute;

  top: 280px;
  left: 130px;

  width: 770px;
  height: 420px;

  border-radius: 30px;

  background: #fff;
  box-shadow: 0 0 30px 2px #dad9da;

  z-index: -1;
}

.background-box::before {
  display: block;
  position: absolute;
  top: 10px;
  left: -53px;

  width: 4px;
  height: 97%;

  background: black;

  content: '';
}

.message-box::-webkit-scrollbar {
 width: 20px;
}

.message-box::-webkit-scrollbar-thumb {
  border-radius: 20em;
  background: no-repeat url('../img/secondslide/thumb.png');
}

.message-box p {
  font: 20px/1.5 "DINPro", sans-serif;
}
